---
const currentYear = new Date().getFullYear()
---

<footer>
  <div class="container">
    <p>
      &copy; {currentYear} - Incluud | Made with the
      <a href="https://accessible-astro.netlify.app/">Accessible Astro Starter</a>
      theme ❤️
    </p>
    <p>
      It still starts with coffee. Just decaffeinated
      <button>
        <img
          src="/iswc-favicon-legacy.png"
          alt="Nod to our old company, IT Starts With Coffee"
          loading="lazy"
        />
      </button>
    </p>
  </div>
</footer>

<style></style>
