---
import { Icon } from 'astro-icon/components'
---

<section id="mission">
  <div class="container">
    <h2>Our mission</h2>
    <p>
      <Icon name="mdi:format-quote-open" size="3.5rem" />
      Make the web more accessible for everyone with projects that are easy to use for both developers
      and end-users, with accessibility and inclusivity as our foundation.
      <Icon name="mdi:format-quote-close" size="3.5rem" />
    </p>
    <a href="#who-we-are">Learn more about us</a>
  </div>
</section>
