---
import { Icon } from 'astro-icon/components'
---

<section class="mission">
  <div class="container">
    <h2>Our mission</h2>
    <p>
      Make the web more accessible for everyone with projects that are easy to use for both
      developers and end-users, with accessibility and inclusivity as our foundation.
    </p>
    <a href="#who-we-are">Learn more about us</a>
  </div>
</section>

<style>
  .mission {
    padding-block: 4rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  h2 {
    font-size: var(--sl-text-5xl) !important;
    text-align: center;
  }

  p {
    font-weight: 300;
    font-size: var(--sl-text-3xl);
    line-height: 1.5;
    text-align: center;
    max-width: 60ch;
  }

  a {
    display: inline-block;
    font-size: var(--sl-text-3xl);
    text-align: center;
  }
</style>
